# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# Logs de debug e arquivos do emulador
*.log
.firebase/
.runtimeconfig.json

# Arquivos de sistema (OS)
.DS_Store
Thumbs.db