rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function hasMFA() {
      return request.auth != null && 
             'firebase' in request.auth.token && 
             'sign_in_second_factor' in request.auth.token.firebase;
    }


    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }


    match /ofertas_investidores/{offerId} {
      allow read: if request.auth != null;
      allow write: if hasMFA(); 
    }
  }
}